@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.container{
  width:80%;
  margin:0 auto;
}
h1 {
  color: #496bf2;
}

.nav-right {
  float: right;
}

.nav-left {
  float: left;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 20px;
}
.txt {
  float:right;
  padding-top:20px;
  padding-right:100px;
  padding-left: 20px;
}
ul:hover {
  color: blue;
  cursor: pointer;
}
.clearfix {
  clear: both;
}
.bg-image {
  background-image: url(../images/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.txt {
  text-align: center;
  padding-top: 10;
}
.about-us {
  padding: 20px;
  margin: 20px;
  background-color: #496bf2;
  color: white;
}
.b-app {
  padding: 20px;
  margin: 20px;
  background-color: #2dd6c1;
  color: white;
}
.services {
  float: left;
  box-shadow: 0 0 5px;
  margin: 25px;
  padding: 30;
  width:29%;
}

.services h2 {
  color: #496bf2;
}
.doctor {
  float: left;
}
.care {
  float: right;
}
.ab {
  color: #496bf2;
}
.us {
  color: #2dd6c1;
}
.words{
  padding:20px;
}
.si {
  padding: 20px;
  margin: 30px;
  background-color: blue;
  color: white;
}
.patients {
  text-align: center;
}
.span1 {
  color: blue;
}
.span2 {
  color: blue;
}


.span3 {
  color: #2dd6c1;
}
.span4 {
  color: #496bf2;
}
.symo {
  margin: 0 auto;
  width: fit-content;
}
.testimonial-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 6px;
}
.blue {
  background-color: #496bf2;
}
.green {
  background-color: #2dd6c1;
}
.contact {
  background-image: url(../images/ezgif-2-81a50240fb.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.sk {
  padding: 10px 20px;
  background-color: #496bf2;
  color: white;
  display: block;
  margin-left: 10px;
}
.footer-content{
  float: left;
  width: 25%;
}
li {
  list-style-type: none;
}
.life,textarea {
  padding: 20px;
  margin: 10px;
  width: 50%;
}
.lion{
  margin-top:5%;
}